package partial

import "fmt"

templ ShadowHub(template templ.Component, id string) {
	<div id={ id } class="shadow-hub" x-init={ fmt.Sprintf("initializeShadowRoot('%s')", id) }>
		@template
	</div>
}
